<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="../static/stylesSheet.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

  </head>
</html>
<body class="bodyApp">
  <div class="banner">
    <div class="bannerText">DANIELA FLORES</div>
  </div>
  <div class="sidebar">
    <div class="wrap">
    <img src="https://avatars.githubusercontent.com/u/79023027?v=4" alt="">
    <div class="menuOption"><a href="#">Menu Option</a></div>
    <hr>
    <div class="menuOption"><a href="#">Menu Option</a></div>
    <div class="menuOption"><a href="#">Menu Option</a></div>
    <div class="menuOption"><a href="#">Menu Option</a></div>
    <hr>
    <div class="menuOption"><a href="#">Menu Option</a></div>
    <div class="menuOption"><a href="#">Menu Option</a></div>
    </div>
    
  </div>
  
  <div class="mainContainer" id="mainContainer">
